.header {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: rgb(128, 174, 42);
  margin-bottom: 50px;
}

.title{
  font-family: "Courgette", cursive;
  font-size: 2em;
}

.scores{
  font-family: 'Raleway', sans-serif;
}

p{
  font-size: .5em;
  color: gray;
  line-height: 1.3em;
  font-family: 'Raleway', sans-serif;
}